<html>
  <head>
    {% include 'component/header.html'%}
  </head>
  <body class="dark:bg-gray-950 bg-gray-200">
    {% include 'component/navbar.html'%}

    <main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-4 p-4">
      
      <!-- Patient Detail -->
      {% include 'fiture/detail.html'%}

      <!-- Vitals -->
      {% include 'fiture/vital.html'%}

      <!-- Recommended Treatments -->
      <section
        class="col-span-1 md:col-span-6 lg:col-span-4 bg-slate-300 dark:bg-slate-800 p-4 rounded-lg"
      >
        <h2 class="text-lg font-bold">Recommended Treatments</h2>
        <table class="table-auto w-full text-left mt-4">
          <thead>
            <tr class="bg-gray-700">
              <th class="p-2">Drug Name</th>
              <th class="p-2">Strength</th>
              <th class="p-2">Dose</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="p-2">Tacrolimus</td>
              <td class="p-2">1mg Capsule</td>
              <td class="p-2">2mg</td>
            </tr>
            <tr>
              <td class="p-2">Warfarin</td>
              <td class="p-2">5mg Tablet</td>
              <td class="p-2">5mg</td>
            </tr>
            <tr>
              <td class="p-2">Heparin Sodium</td>
              <td class="p-2">25000 unit Premix Bag</td>
              <td class="p-2">25000 unit</td>
            </tr>
          </tbody>
        </table>
        <div class="mt-4">
          <label for="custom-treatment" class="block mb-2"
            >Customise Treatment:</label
          >
          <input
            id="custom-treatment"
            type="text"
            placeholder="Diagnosis details"
            class="input input-bordered w-full"
          />
          <button class="btn btn-primary w-full mt-2">SAVE</button>
        </div>
      </section>
    </main>

    <footer class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4 p-4">
      <!-- History -->
      {% include 'fiture/history.html'%}

      <!-- BLOOD PRESSURE -->
      {% include 'fiture/blood-presurre.html'%}

      <!-- SOFA Score -->
      {% include 'fiture/sofa.html'%}

      <!-- GCS -->
      {% include 'fiture/gcs.html'%}

      <!-- Recommendation -->
      {% include 'fiture/recommendation.html'%}

    </footer>
  </body>
</html>
