<html>
  <head>
    {% include 'component/header.html'%}
  </head>
  <body class="dark:bg-gray-950 bg-gray-200">
    {% include 'component/navbar.html'%}

    <main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-4 p-4">
      <!-- Patient Detail -->
      {% include 'fiture/detail.html'%}

      <!-- Vitals -->
      {% include 'fiture/vital.html'%}

      <!-- Similarity Search -->
      <section
        class="col-span-1 md:col-span-6 lg:col-span-4 bg-slate-300 dark:bg-slate-800 p-4 rounded-lg"
      >
        <h2 class="text-2xl font-bold mb-6 text-black dark:text-white">
          Similarity Search
        </h2>
        <div
          class="overflow-auto max-h-96 border-2 border-gray-300 dark:border-gray-700 bg-gray-100 rounded-lg shadow-lg mt-4"
        >
          <table
            class="w-full text-left text-sm bg-gray-900 rounded-lg overflow-hidden"
          >
            <thead class="bg-cyan-500 dark:bg-cyan-600 text-white">
              <tr>
                <th class="p-2">Rank</th>
                <th class="p-2">Patient Name</th>
                <th class="p-2">Age (years)</th>
                <th class="p-2">Gender</th>
                <th class="p-2">Weight (kg)</th>
                <th class="p-2">Height (cm)</th>
                <th class="p-2">Action</th>
              </tr>
            </thead>
            <tbody class="dark:bg-gray-800 bg-white">
              <tr class="border-t border-gray-700 dark:text-white">
                <td class="p-2">1</td>
                <td class="p-2">Steve Smith</td>
                <td class="p-2">59</td>
                <td class="p-2">Male</td>
                <td class="p-2">72</td>
                <td class="p-2">178</td>
                <td class="p-2">
                    <button
                      class="flex items-center gap-1 text-cyan-500 hover:text-cyan-600 transition duration-200"
                    >
                      <i class="mdi mdi-eye text-lg"></i>
                      <span class="font-medium">View</span>
                    </button>
                  </td>
              </tr>
              <tr class="border-t border-gray-700 dark:text-white">
                <td class="p-2">1</td>
                <td class="p-2">Steve Smith</td>
                <td class="p-2">59</td>
                <td class="p-2">Male</td>
                <td class="p-2">72</td>
                <td class="p-2">178</td>
                <td class="p-2">
                    <button
                      class="flex items-center gap-1 text-cyan-500 hover:text-cyan-600 transition duration-200"
                    >
                      <i class="mdi mdi-eye text-lg"></i>
                      <span class="font-medium">View</span>
                    </button>
                  </td>
              </tr>
              <tr class="border-t border-gray-700 dark:text-white">
                <td class="p-2">1</td>
                <td class="p-2">Steve Smith</td>
                <td class="p-2">59</td>
                <td class="p-2">Male</td>
                <td class="p-2">72</td>
                <td class="p-2">178</td>
                <td class="p-2">
                    <button
                      class="flex items-center gap-1 text-cyan-500 hover:text-cyan-600 transition duration-200"
                    >
                      <i class="mdi mdi-eye text-lg"></i>
                      <span class="font-medium">View</span>
                    </button>
                  </td>
              </tr>
              <tr class="border-t border-gray-700 dark:text-white">
                <td class="p-2">1</td>
                <td class="p-2">Steve Smith</td>
                <td class="p-2">59</td>
                <td class="p-2">Male</td>
                <td class="p-2">72</td>
                <td class="p-2">178</td>
                <td class="p-2">
                    <button
                      class="flex items-center gap-1 text-cyan-500 hover:text-cyan-600 transition duration-200"
                    >
                      <i class="mdi mdi-eye text-lg"></i>
                      <span class="font-medium">View</span>
                    </button>
                  </td>
              </tr>
              <tr class="border-t border-gray-700 dark:text-white">
                <td class="p-2">1</td>
                <td class="p-2">Steve Smith</td>
                <td class="p-2">59</td>
                <td class="p-2">Male</td>
                <td class="p-2">72</td>
                <td class="p-2">178</td>
                <td class="p-2">
                    <button
                      class="flex items-center gap-1 text-cyan-500 hover:text-cyan-600 transition duration-200"
                    >
                      <i class="mdi mdi-eye text-lg"></i>
                      <span class="font-medium">View</span>
                    </button>
                  </td>
              </tr>
              <tr class="border-t border-gray-700 dark:text-white">
                <td class="p-2">1</td>
                <td class="p-2">Steve Smith</td>
                <td class="p-2">59</td>
                <td class="p-2">Male</td>
                <td class="p-2">72</td>
                <td class="p-2">178</td>
                <td class="p-2">
                    <button
                      class="flex items-center gap-1 text-cyan-500 hover:text-cyan-600 transition duration-200"
                    >
                      <i class="mdi mdi-eye text-lg"></i>
                      <span class="font-medium">View</span>
                    </button>
                  </td>
              </tr>
              <tr class="border-t border-gray-700 dark:text-white">
                <td class="p-2">1</td>
                <td class="p-2">Steve Smith</td>
                <td class="p-2">59</td>
                <td class="p-2">Male</td>
                <td class="p-2">72</td>
                <td class="p-2">178</td>
                <td class="p-2">
                    <button
                      class="flex items-center gap-1 text-cyan-500 hover:text-cyan-600 transition duration-200"
                    >
                      <i class="mdi mdi-eye text-lg"></i>
                      <span class="font-medium">View</span>
                    </button>
                  </td>
              </tr>
              <tr class="border-t border-gray-700 dark:text-white">
                <td class="p-2">1</td>
                <td class="p-2">Steve Smith</td>
                <td class="p-2">59</td>
                <td class="p-2">Male</td>
                <td class="p-2">72</td>
                <td class="p-2">178</td>
                <td class="p-2">
                    <button
                      class="flex items-center gap-1 text-cyan-500 hover:text-cyan-600 transition duration-200"
                    >
                      <i class="mdi mdi-eye text-lg"></i>
                      <span class="font-medium">View</span>
                    </button>
                  </td>
              </tr>
              <tr class="border-t border-gray-700 dark:text-white">
                <td class="p-2">1</td>
                <td class="p-2">Steve Smith</td>
                <td class="p-2">59</td>
                <td class="p-2">Male</td>
                <td class="p-2">72</td>
                <td class="p-2">178</td>
                <td class="p-2">
                    <button
                      class="flex items-center gap-1 text-cyan-500 hover:text-cyan-600 transition duration-200"
                    >
                      <i class="mdi mdi-eye text-lg"></i>
                      <span class="font-medium">View</span>
                    </button>
                  </td>
              </tr>
              <tr class="border-t border-gray-700 dark:text-white">
                <td class="p-2">1</td>
                <td class="p-2">Steve Smith</td>
                <td class="p-2">59</td>
                <td class="p-2">Male</td>
                <td class="p-2">72</td>
                <td class="p-2">178</td>
                <td class="p-2">
                    <button
                      class="flex items-center gap-1 text-cyan-500 hover:text-cyan-600 transition duration-200"
                    >
                      <i class="mdi mdi-eye text-lg"></i>
                      <span class="font-medium">View</span>
                    </button>
                  </td>
              </tr>
              <tr class="border-t border-gray-700 dark:text-white">
                <td class="p-2">1</td>
                <td class="p-2">Steve Smith</td>
                <td class="p-2">59</td>
                <td class="p-2">Male</td>
                <td class="p-2">72</td>
                <td class="p-2">178</td>
                <td class="p-2">
                    <button
                      class="flex items-center gap-1 text-cyan-500 hover:text-cyan-600 transition duration-200"
                    >
                      <i class="mdi mdi-eye text-lg"></i>
                      <span class="font-medium">View</span>
                    </button>
                  </td>
              </tr>
              
              <!-- Tambahkan data lainnya -->
            </tbody>
          </table>
        </div>

        <!-- Custom Search Section -->
        <div class="mt-5">
          <p class="text-sm font-semibold mb-5 dark:text-white text-black">
            Customise patient details for search:
          </p>
          <div class="grid grid-cols-5 gap-2">
            <input
              type="text"
              placeholder="Age"
              class="p-2 bg-gray-50 border border-cyan-500 text-gray-900 text-sm rounded-lg focus:ring-cyan-500 focus:border-cyan-500 dark:bg-gray-800 dark:border-cyan-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-cyan-600 dark:focus:border-cyan-600"
            />
            <select
              class="p-2 bg-gray-50 border border-cyan-500 text-gray-900 text-sm rounded-lg focus:ring-cyan-500 focus:border-cyan-500 dark:bg-gray-800 dark:border-cyan-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-cyan-600 dark:focus:border-cyan-600"
            >
              <option>Gender</option>
              <option>Male</option>
              <option>Female</option>
            </select>
            <input
              type="text"
              placeholder="Weight"
              class="p-2 bg-gray-50 border border-cyan-500 text-gray-900 text-sm rounded-lg focus:ring-cyan-500 focus:border-cyan-500 dark:bg-gray-800 dark:border-cyan-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-cyan-600 dark:focus:border-cyan-600"
            />
            <input
              type="text"
              placeholder="Height"
              class="p-2 bg-gray-50 border border-cyan-500 text-gray-900 text-sm rounded-lg focus:ring-cyan-500 focus:border-cyan-500 dark:bg-gray-800 dark:border-cyan-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-cyan-600 dark:focus:border-cyan-600"
            />
            <button
              class="bg-cyan-500 hover:bg-cyan-700 text-white p-2 mt-2 rounded-md w-full"
            >
              SEARCH
            </button>
          </div>
        </div>
      </section>
    </main>

    <footer class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4 p-4">
      <!-- History -->
      {% include 'fiture/history.html'%}

      <!-- BLOOD PRESSURE -->
      {% include 'fiture/blood-presurre.html'%}

      <!-- SOFA Score -->
      {% include 'fiture/sofa.html'%}

      <!-- Similar -->
      {% include 'fiture/similar.html'%}

      <!-- Recommendation -->
      {% include 'fiture/recommendation.html'%}
    </footer>
  </body>
</html>
