<section
  class="bg-cyan-500 dark:bg-cyan-900 text-white p-4 rounded-lg shadow-md h-[200px] flex flex-col"
>
  <h2 class="text-base font-bold pb-4">AI Recommendation Personalize</h2>
  <ul class="list-disc pl-5">
    <li id="ai_recommendation_value" class="mb-4 font-semibold text-sm">
      Illnesses: Polycythemia Vera
    </li>
    <li id="ai_recommendation_value_" class="font-semibold text-sm">
      Illnesses: Polycythemia Vera
    </li>
  </ul>
</section>

<section
  class="bg-cyan-500 dark:bg-cyan-900 text-white p-4 rounded-lg shadow-md h-[200px] flex flex-col"
>
  <h2 class="text-base font-bold pb-4">AI Recommendation Generalize</h2>
  <ul class="list-disc pl-5">
    <li
      id="ai_recommendation_value_generalize"
      class="mb-4 font-semibold text-sm"
    >
      Illnesses: Polycythemia Vera
    </li>
    <li id="ai_recommendation_value_generalize_" class="font-semibold text-sm">
      Illnesses: Polycythemia Vera
    </li>
  </ul>
</section>

