<section
  class="col-span-1 text-white bg-cyan-500 dark:bg-cyan-900 p-4 rounded-lg text-sm"
>
  <h2 class="text-base font-bold pb-4">AI Recommendation</h2>
  <ul class="list-disc pl-5">
    <li id="ai_recommendation_value">Illnesses: Polycythemia Vera</li>
    <li id="ai_recommendation_value_">Illnesses: Polycythemia Vera</li>
  </ul>
</section>

<section
  class="col-span-1 text-white bg-cyan-500 dark:bg-cyan-900 p-4 rounded-lg text-sm"
>
  <h2 class="text-base font-bold pb-4">Clinician Action</h2>
  <ul class="list-disc pl-5">
    <li id="physician_action_value">Illnesses: Polycythemia Vera</li>
    <li id="physician_action_value_">Illnesses: Polycythemia Vera</li>
  </ul>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const socket = io("/monitoring_patient");

    socket.on("connect", () => {
      console.log("Connected to data monitoring patient bed icu {{ bed_id }}");
      socket.emit("get_data_monitoring_patient", { icustayid: "{{ bed_id }}" });
    });

    socket.on("data_monitoring_patient", (patient_data) => {
      console.log("Received data monitoring patient:", patient_data);
      
    });

    setInterval(() => {
      document.getElementById("ai_recommendation_value").innerText =
        localStorage.getItem("aiRecommendation");
      document.getElementById("ai_recommendation_value_").innerText =
        localStorage.getItem("aiRecommendation_");
      document.getElementById("physician_action_value").innerText =
        localStorage.getItem("physicianAction");
      document.getElementById("physician_action_value_").innerText =
        localStorage.getItem("physicianAction_");
    }, 100);
  });
</script>
