<section
  class="col-span-1 text-white bg-cyan-500 dark:bg-cyan-900 p-4 rounded-lg text-sm"
>
  <h2 class="text-base font-bold pb-4">AI Recommendation</h2>
  <p>Illnesses: Polycythemia Vera</p>
  <p>Operations: Appendectomy at age 12</p>
  <p>Medications: Simvastatin 40mg daily</p>
</section>

<section
  class="col-span-1 text-white bg-cyan-500 dark:bg-cyan-900 p-4 rounded-lg text-sm"
>
  <h2 class="text-base font-bold pb-4">Clinician Action</h2>
  <p>Illnesses: Polycythemia Vera</p>
  <p>Operations: Appendectomy at age 12</p>
  <p>Medications: Simvastatin 40mg daily</p>
</section>
