<section
  class="col-span-1 text-white bg-cyan-500 dark:bg-cyan-900 p-4 rounded-lg text-sm"
>
  <h2 class="text-base font-bold pb-4">AI Recommendation</h2>
  <ul class="list-disc pl-5">
    <li id="ai_recommendation_value">Illnesses: Polycythemia Vera</li>
    <li id="ai_recommendation_value_">Illnesses: Polycythemia Vera</li>
  </ul>
</section>

<section
  class="col-span-1 text-white bg-cyan-500 dark:bg-cyan-900 p-4 rounded-lg text-sm"
>
  <h2 class="text-base font-bold pb-4">Clinician Action</h2>
  <ul class="list-disc pl-5">
    <li id="physician_action_value">Illnesses: Polycythemia Vera</li>
    <li id="physician_action_value_">Illnesses: Polycythemia Vera</li>
  </ul>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {

    const socket = io();

    socket.on("treatment_recommendation_data", (treatment_recommendation_data) => {
      if (treatment_recommendation_data.bed_id == "{{ bed_id }}") {
        localStorage.setItem(
          "aiRecommendation",
          treatment_recommendation_data.treatment.ai_recommendations[0]
        );
        localStorage.setItem(
          "aiRecommendation_",
          treatment_recommendation_data.treatment.ai_recommendations[1]
        );
        localStorage.setItem(
          "physicianAction",
          treatment_recommendation_data.treatment.physician_action[0]
        );
        localStorage.setItem(
          "physicianAction_",
          treatment_recommendation_data.treatment.physician_action[1]
        );
      }
    });

    setInterval(() => {
      document.getElementById("ai_recommendation_value").innerText =
        localStorage.getItem("aiRecommendation");
      document.getElementById("ai_recommendation_value_").innerText =
        localStorage.getItem("aiRecommendation_");
      document.getElementById("physician_action_value").innerText =
        localStorage.getItem("physicianAction");
      document.getElementById("physician_action_value_").innerText =
        localStorage.getItem("physicianAction_");
    }, 3000);
  });
</script>
