<!-- SOFA Score -->
<section
  class="bg-cyan-500 dark:bg-cyan-900 text-white p-4 rounded-lg shadow-md h-[200px] flex flex-col"
>
  <h2 class="text-sm font-bold text-left mb-2">
    Overall SOFA Score: <span id="sofa_score_value">3</span>
  </h2>
  <div
    class="flex-1 flex flex-col items-center justify-between overflow-hidden"
  >
    <!-- Grafik -->
    <div class="flex-1 flex items-center justify-center w-full">
      <canvas id="sofaScore" class="w-[90%] h-[70px]"></canvas>
    </div>
    <!-- Detail Skor -->
    <div class="grid grid-cols-3 gap-2 text-[8px] text-center mt-1">
      <div>
        <span class="font-semibold">Renal:</span>
        <span id="renal_value">3</span>
      </div>
      <div>
        <span class="font-semibold">Nervous:</span>
        <span id="nervous_value">3</span>
      </div>
      <div>
        <span class="font-semibold">Cardiovascular:</span>
        <span id="cardiovascular_value">2</span>
      </div>
      <div>
        <span class="font-semibold">Liver:</span>
        <span id="liver_value">1</span>
      </div>
      <div>
        <span class="font-semibold">Respiration:</span>
        <span id="respiration_value">2</span>
      </div>
      <div>
        <span class="font-semibold">Coagulation:</span>
        <span id="coagulation_value">3</span>
      </div>
    </div>
  </div>
</section>

<script>
  function initializeSofaChart() {
    const sofaScoreCtx = document.getElementById("sofaScore").getContext("2d");

    const sofaScoreChart = new Chart(sofaScoreCtx, {
      type: "line",
      data: {
        labels: Array.from({ length: 35 }, () => ""),
        datasets: [
          {
            borderColor: "white",
            borderWidth: 2,
            fill: false,
            tension: 0.4,
            data: Array.from({ length: 35 }, () => 75),
          },
        ],
      },
      options: {
        responsive: true,
        animation: false,
        plugins: {
          legend: { display: false },
        },
        scales: {
          x: { display: false },
          y: { display: false },
        },
        elements: {
          point: { radius: 0 },
        },
      },
    });

    return { sofaScoreChart };
  }


  document.addEventListener("DOMContentLoaded", () => {
    const charts = initializeSofaChart();

    const socket = io();

    socket.on("sofa_data", (sofa_data) => {
      if (sofa_data.bed_id == "{{ bed_id }}") {
        charts.sofaScoreChart.data.datasets[0].data.push(
          sofa_data.sofa.sofa_score
        );
        if (charts.sofaScoreChart.data.datasets[0].data.length > 35) {
          charts.sofaScoreChart.data.datasets[0].data.shift();
        }
        charts.sofaScoreChart.update();

        localStorage.setItem(
          "sofaScoreData",
          JSON.stringify(charts.sofaScoreChart.data.datasets[0].data)
        );

        localStorage.setItem("sofaScoreValue", sofa_data.sofa.sofa_score);
        localStorage.setItem("renalValue", sofa_data.sofa.renal);
        localStorage.setItem("nervousValue", sofa_data.sofa.nervous);
        localStorage.setItem(
          "cardiovascularValue",
          sofa_data.sofa.cardiovascular
        );
        localStorage.setItem("liverValue", sofa_data.sofa.liver);
        localStorage.setItem("respirationValue", sofa_data.sofa.respiration);
        localStorage.setItem("coagulationValue", sofa_data.sofa.coagulation);
      }
    });

    setInterval(() => {
      charts.sofaScoreChart.data.datasets[0].data = JSON.parse(
        localStorage.getItem("sofaScoreData")
      );
      charts.sofaScoreChart.update();
      document.getElementById("sofa_score_value").innerText =
        localStorage.getItem("sofaScoreValue");
      document.getElementById("renal_value").innerText =
        localStorage.getItem("renalValue");
      document.getElementById("nervous_value").innerText =
        localStorage.getItem("nervousValue");
      document.getElementById("cardiovascular_value").innerText =
        localStorage.getItem("cardiovascularValue");
      document.getElementById("liver_value").innerText =
        localStorage.getItem("liverValue");
      document.getElementById("respiration_value").innerText =
        localStorage.getItem("respirationValue");
      document.getElementById("coagulation_value").innerText =
        localStorage.getItem("coagulationValue");
    }, 100);
  });
</script>
